@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

.signInContainer h1 {
  font-family: "Righteous", cursive;
  text-align: center;
  margin-top: 2rem;
}
.signInContainer p {
  text-align: center;
}
.signInPage {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
