@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

.publicHeader {
  margin-bottom: 4rem;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 2rem;
}

.publicHeader h1 {
  text-align: center;
  font-size: 2rem;
  font-family: "Righteous", cursive;
}

.timeline{
  padding-top:2rem;
}

.emptymessage {
  text-align: center;
}

.loader {
  display: flex;
  justify-content: center;
}

.public-layout {
  min-height: 100vh;
}

@media only screen and (max-width: 1000px) {
  /* For mobile phones: */
  .public-layout {
    padding: 0;
  }
}
